@import '../partials/_params.scss';
@import '../partials/_mixins.scss';

@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i,900&subset=cyrillic');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

.so-short {
    @include clear;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        @include clear;
    }
    ul {
        @include clear-list;
    }
    a {
        text-decoration: none;
    }
    button {
        @include for-landscape-phones-and-smaller {
            font-size: 20px;
        }
        font-family: 'Lato';
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0);
        text-transform: uppercase;
        border-radius: 6px;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    &__content {
        @include for-landscape-phones-and-smaller {
            width: 300px;
            height: 530px;
        }
        @include for-landscape-phones-and-portrait-tablets-2 {
            width: 465px;
            height: 560px;
        }
        font-family: 'Rubik', sans-serif;
        width: 760px;
        height: 580px;
        border: 4px solid transparent;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
        border-radius: 16px;
        background-color: lighten(transparentize($global-lilac-blue, .55), 1%);
        overflow: hidden;
    }

    &__intro-box {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        background: linear-gradient(lighten(transparentize($global-lilac-blue, .05), 1%), darken(transparentize($global-lilac-blue, .6), 10%), lighten(transparentize($global-lilac-blue, .05), 1%)), url('../assets/BrowserPreview_tmp.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        & > div:nth-child(1) {
            @include for-landscape-phones-and-smaller {
                height: 65px;
            }
            width: 100%;
            height: 75px;
            border-bottom: 1px solid transparentize($global-white, .5);
            h2 {
                @include for-landscape-phones-and-smaller {
                    line-height: 65px;
                    font-size: 13px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    line-height: 75px;
                    font-size: 18px;
                }
                font-family: 'Rubik', sans-serif;
                color: $global-white;
                text-align: center;
                // text-transform: uppercase;
                font-size: 28px;
                font-weight: 700 !important;
                line-height: 75px;
                cursor: default;
            }
        }
        .description-box {
            @include for-landscape-phones-and-smaller {
                margin-top: 25px;
            }
            @include for-landscape-phones-and-portrait-tablets-2 {
                margin-top: 40px;
            }
            margin-top: 50px;
            p {
                @include for-landscape-phones-and-smaller {
                    max-width: 200px;
                    padding: 20px;
                    font-size: 16px;
                    line-height: 23px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    max-width: 280px;
                    padding: 25px;
                    font-size: 15px;
                    line-height: 26px;
                }
                position: relative;
                max-width: 580px;
                margin: 0 auto;
                background-color: transparentize(darken($global-lilac-blue, 10%), .35);
                color: $global-white;
                font-size: 18px;
                font-weight: 500;
                text-align: left;
                line-height: 30px;
                border-radius: 6px;
                border: 1px solid $global-white;
                padding: 40px 35px;
                overflow: hidden;
            }
            h2 {
                @include for-landscape-phones-and-smaller {
                    font-size: 13px;
                    line-height: 20px;
                    width: 300px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    font-size: 18px;
                    line-height: 20px;
                    width: 400px;
                }
                font-family: 'Rubik', sans-serif;
                color: $global-white;
                text-align: center;
                font-size: 28px;
                width: 520px;
                font-weight: 700 !important;
                line-height: 36px;
                margin: 0 auto;
                cursor: default;
                margin-top: 30px;
            }
            & .controls-box {
                @include for-landscape-phones-and-smaller {
                    margin-top: 45px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    margin-top: 50px;
                }
                display: flex;
                justify-content: center;
                margin-top: 17px;
                margin-bottom: auto;
                button {
                    @include for-landscape-phones-and-smaller {
                        width: 140px;
                        height: 40px;
                    }
                    height: 48px;
                    width: 230px;
                    background: linear-gradient(to top, $global-bittersweet, darken($global-bittersweet, 5%));
                    color: $global-white;
                    transition: color .235s ease-in-out;
                    &:hover {
                        color: lighten($global-lilac-blue, 37%);
                    }
                }
            }
        }
        .rules-box {
            @extend .description-box;
            display: none;
            p {
                @include for-landscape-phones-and-smaller {
                    text-align: center;
                    font-size: 14px;
                }
                background-color: transparentize($global-white, .1);
                color: darken($global-lilac-blue, 3%);
            }
            & .controls-box {
                @include for-landscape-phones-and-smaller {
                    margin-top: 25px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    margin-top: 15px;
                }
                margin-top: 60px;
                button {
                }
            }
        }
        .soc-net-share-box {
            @include for-landscape-phones-and-smaller {
                height: 65px;
            }
            border-top: 1px solid transparentize($global-white, .5);
            width: 100%;
            height: 75px;
            display: flex;
            justify-content: center;
            margin-top: auto;
            &__list {
                @include for-landscape-phones-and-smaller {
                    width: 200px;
                }
                @include clear-list;
                width: 230px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__item {
                @include for-landscape-phones-and-smaller {
                    min-width: 42px;
                    min-height: 42px;
                }
                border-radius: 50%;
                min-width: 48px;
                min-height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 0 1px 3px rgba(0,0,0,0.45);
                color: $global-white;
                border: 1px solid transparentize($global-white, .15);
                transition: all .215s linear;
                & i {
                    @include for-landscape-phones-and-smaller {
                        font-size: 17px;
                    }
                    font-size: 20px;
                }
                &:hover {
                    background-color: $global-white;
                    color: $global-lilac-blue;
                    transform: translateY(-2px);
                    filter: drop-shadow(0px 2px 6px transparentize($global-white, .75));

                }
            }
            &__item--vk {
                &:active {
                    background-color: lighten($global-vk, 10%);
                    color: $global-white;
                }
            }
            &__item--fa {
                &:active {
                    background-color: lighten($global-fa, 10%);
                    color: $global-white;
                }
            }
            &__item--tw {
                &:active {
                    background-color: lighten($global-tw, 10%);
                    color: $global-white;
                }
            }
            &__item--te {
                &:active {
                    background-color: lighten($global-te, 10%);
                    color: $global-white;
                }
            }
        }
    }

    &__loader-box {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        background: linear-gradient(lighten(transparentize($global-lilac-blue, .05), 1%), darken(transparentize($global-lilac-blue, .6), 10%), lighten(transparentize($global-lilac-blue, .05), 1%)), url('../assets/BrowserPreview_tmp.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        & > div:nth-child(1) {
            @include for-landscape-phones-and-smaller {
                height: 65px;
            }
            width: 100%;
            height: 75px;
            border-bottom: 1px solid transparentize($global-white, .5);
            background: linear-gradient(darken(transparentize($global-lilac-blue, .05), 8%), lighten(transparentize($global-lilac-blue, .35), 14%)), url('../assets/ptrn2x2.png');
            background-position: center center;
            background-size: 4px;
        }

        & > div:last-child {
            @include for-landscape-phones-and-smaller {
                height: 65px;
            }
            border-top: 1px solid transparentize($global-white, .5);
            width: 100%;
            height: 75px;
            display: flex;
            justify-content: center;
            background: linear-gradient(lighten(transparentize($global-lilac-blue, .35), 14%), darken(transparentize($global-lilac-blue, .05), 8%)), url('../assets/ptrn2x2.png');
            background-position: center center;
            background-size: 4px;
        }

        .spinner-box {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            margin-bottom: auto;
            .preloader-1 {
                @include for-landscape-phones-and-smaller {
                    height: 26px;
                }
                display: flex;
                justify-content: center;
                width: 100%;
                height: 40px;
            }
            .preloader-1 .line {
                @include for-landscape-phones-and-smaller {
                    width: 24px;
                    height: 24px;
                    border-radius: 5px;
                }
              width: 38px;
              height: 38px;
              background: transparentize($global-white, .3);
              border-radius: 6px;
              margin: 0 3px;
              display: inline-block;
              animation: opacity-1 1000ms infinite ease-in-out;
            }
            .preloader-1 .line:nth-child(even) {
                background: transparentize($global-bittersweet, .3);
            }
            .preloader-1 .line-1, .preloader-2 .line-1 { animation-delay: 800ms; }
            .preloader-1 .line-2, .preloader-2 .line-2 { animation-delay: 600ms; }
            .preloader-1 .line-3, .preloader-2 .line-3 { animation-delay: 400ms; }
            .preloader-1 .line-4, .preloader-2 .line-4 { animation-delay: 200ms; }
            .preloader-1 .line-6, .preloader-2 .line-6 { animation-delay: 200ms; }
            .preloader-1 .line-7, .preloader-2 .line-7 { animation-delay: 400ms; }
            .preloader-1 .line-8, .preloader-2 .line-8 { animation-delay: 600ms; }
            .preloader-1 .line-9, .preloader-2 .line-9 { animation-delay: 800ms; }

            @keyframes opacity-1 {
              0% {opacity: 1;}
              50% {opacity: 0;}
              100% {opacity: 1;}
            }
        }
    }

    &__gameplay-box {
        display: none;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        height: 100%;
        background: linear-gradient(lighten(transparentize($global-lilac-blue, .05), 1%), darken(transparentize($global-lilac-blue, .6), 10%), lighten(transparentize($global-lilac-blue, .05), 1%)), url('../assets/BrowserPreview_tmp.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        .header-gameplay-box {
            @include for-landscape-phones-and-smaller {
                height: 65px;
                position: relative;
            }
            @include for-landscape-phones-and-portrait-tablets-2 {
                position: relative;
            }
            position: relative;
            width: 100%;
            height: 75px;
            border-bottom: 1px solid transparentize($global-white, .5);
            display: flex;
            justify-content: flex-start;
            .steps-box {
                @include for-landscape-phones-and-smaller {
                    min-width: 65px;
                }
                height: inherit;
                min-width: 75px;
                background-color: lighten($global-lilac-blue, 35%);
                display: flex;
                align-items: center;
                justify-content: center;
                &__current {
                    @include for-landscape-phones-and-smaller {
                        font-size: 45px;
                    }
                    font-size: 48px;
                    font-weight: 900;
                    color: $global-lilac-blue;
                }
            }
            .hint-box {
                @include for-landscape-phones-and-smaller {
                    width: 235px;
                }
                width: 580px;
                height: inherit;
                display: flex;
                align-items: center;
                p {
                    @include for-landscape-phones-and-smaller {
                        font-size: 12px;
                        line-height: 18px;
                        padding-left: 15px;
                        padding-right: 15px;
                        font-weight: 400;
                    }
                    @include for-landscape-phones-and-portrait-tablets-2 {
                        font-size: 15px;
                        line-height: 22px;
                        padding-left: 15px;
                        padding-right: 15px;
                        font-weight: 500;
                    }
                    font-family: 'Rubik';
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                    line-height: 26px;
                    color: $global-white;
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
            .controls-box {
                @include for-landscape-phones-and-smaller {
                    position: absolute;
                    right: 20px;
                    bottom: -451px;
                    margin-right: 0;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    position: absolute;
                    right: 40px;
                    bottom: -466px;
                    margin-right: 0;
                }
                position: absolute;
                right: 40px;
                bottom: -486px;
                // margin-left: auto;
                display: flex;
                align-items: center;
                margin-right: 20px;
                button {
                    width: 130px;
                    height: 35px;
                    color: $global-lilac-blue;
                    background-color: lighten($global-lilac-blue, 35%);
                    font-size: 14px;
                    text-transform: uppercase;
                    transition: all .2s ease-out;
                    opacity: 0;
                    animation: op-in .45s ease-out;
                    animation-fill-mode: forwards;
                    &:hover {
                        background-color: lighten($global-lilac-blue, 30%);
                    }
                    @keyframes op-in {
                        from {opacity: 0}
                        to {opacity: 1}
                    }
                }
            }
        }
        .dragndrop-box {
            @include for-landscape-phones-and-smaller {
                height: calc(100% - 133px);
            }
            position: relative;
            background: linear-gradient(darken(transparentize($global-saint-patrick-blue, .05), 10%), lighten(transparentize($global-saint-patrick-blue, .35), 20%), darken(transparentize($global-saint-patrick-blue, .05), 10%)), url('../assets/ptrn2x2.png');
            background-position: center center;
            background-size: 4px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
            height: calc(100% - 153px);
            overflow: hidden;
            &__draggable-list {
                display: flex;
                padding: 30px 10px;
                border-bottom: 2px solid transparentize($global-white, .55);
            }
            &__draggable-item {
                @include for-landscape-phones-and-smaller {
                    width: 40px;
                    height: 40px;
                    font-size: 30px;
                }
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border: 2px solid darken($global-ok, 8%);
                margin: 8px;
                width: 48px;
                height: 48px;
                border-radius: 6px;
                font-size: 36px;
                font-weight: 500;
                background-color: lighten($global-outrageous-orange, 3%);
                color: transparentize($global-white, .15);
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
                cursor: default;
            }

            &__acceptingdrag-list {
                display: flex;
                padding: 30px;
            }
            &__acceptingdrag-item {
                @include for-landscape-phones-and-smaller {
                    width: 40px;
                    height: 40px;
                }
                position: relative;
                background-color: whitesmoke;
                border: 2px solid $global-saint-patrick-blue;
                border-radius: 6px;
                margin: 8px;
                width: 48px;
                height: 48px;
                box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.55);
            }
        }
        .true-answer-box {
            @include for-landscape-phones-and-smaller {
                width: 240px;
                top: 35%;
                padding-top: 30px;
                padding-bottom: 30px;
            }
            @include for-landscape-phones-and-portrait-tablets-2 {
                width: 380px;
                padding-top: 40px;
                padding-bottom: 40px;
                text-align: left;
            }
            display: none;
            position: absolute;
            z-index: 39;
            top: 33%;
            left: 50%;
            transform: translateX(-50%);
            height: auto;
            width: 650px;
            border: 4px solid lighten(transparentize($global-lilac-blue, .55), 1%);
            border-radius: 6px;
            background-color: transparentize($global-white, .1);
            padding-top: 60px;
            padding-bottom: 60px;
            span {
                @include for-landscape-phones-and-smaller {
                    margin-left: 20px;
                    font-size: 18px;
                    line-height: 34px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    margin-left: 20px;
                    font-size: 20px;
                    line-height: 34px;
                }
                margin-left: 40px;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 500;
                text-align: left;
                line-height: 36px;
                color: $global-bittersweet;
            }
            p {
                @include for-landscape-phones-and-smaller {
                    width: calc(100% - 40px);
                    font-size: 16px;
                    line-height: 22px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    width: calc(100% - 40px);
                    font-size: 18px;
                    line-height: 24px;
                }
                width: calc(100% - 80px);
                height: auto;
                margin: 0 auto;
                font-size: 25px;
                font-weight: 500;
                text-align: left;
                line-height: 32px;
                color: $global-lilac-blue;
                overflow: hidden;
                & > div {
                    white-space:nowrap
                }
            }
        }
        .true-answer-box-2 {
            @include for-landscape-phones-and-smaller {
                width: 240px;
                top: 35%;
                padding-top: 30px;
                padding-bottom: 30px;
            }
            @include for-landscape-phones-and-portrait-tablets-2 {
                width: 380px;
                padding-top: 40px;
                padding-bottom: 40px;
                text-align: left;
            }
            display: none;
            position: absolute;
            z-index: 39;
            top: 33%;
            left: 50%;
            transform: translateX(-50%);
            height: auto;
            width: 650px;
            border: 4px solid lighten(transparentize($global-lilac-blue, .55), 1%);
            border-radius: 6px;
            background-color: transparentize($global-white, .1);
            padding-top: 60px;
            padding-bottom: 60px;
            span {
                @include for-landscape-phones-and-smaller {
                    margin-left: 20px;
                    font-size: 18px;
                    line-height: 34px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    margin-left: 20px;
                    font-size: 20px;
                    line-height: 34px;
                }
                margin-left: 40px;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: 500;
                text-align: left;
                line-height: 36px;
                color: $global-wu;
            }
            p {
                @include for-landscape-phones-and-smaller {
                    width: calc(100% - 40px);
                    font-size: 16px;
                    line-height: 22px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    width: calc(100% - 40px);
                    font-size: 18px;
                    line-height: 24px;
                }
                width: calc(100% - 80px);
                height: auto;
                margin: 0 auto;
                font-size: 25px;
                font-weight: 500;
                text-align: left;
                line-height: 32px;
                color: $global-lilac-blue;
                overflow: hidden;
                & > div {
                    white-space:nowrap
                }
            }
        }
        .footer-gameplay-box {
            @include for-landscape-phones-and-smaller {
                height: 65px;
                justify-content: flex-start;
            }
            @include for-landscape-phones-and-portrait-tablets-2 {
                justify-content: flex-start;
            }
            border-top: 1px solid transparentize($global-white, .5);
            width: 100%;
            height: 75px;
            display: flex;
            justify-content: flex-start;
            .timer-box {
                @include for-landscape-phones-and-smaller {
                    width: 150px;
                    justify-content: flex-start;
                    padding-left: 20px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    width: 150px;
                    padding-left: 40px;
                    justify-content: flex-start;
                }
                padding-left: 50px;
                height: inherit;
                width: 200px;
                position: relative;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .timer-pic {
                    width: 30px;
                    height: 36px;
                    margin-right: 7px;
                    img {
                        width: inherit;
                        height: inherit;
                    }
                }
                .timer-clock {
                    position: relative;
                    width: 65px;
                    padding-top: 3px;
                    display: flex;
                    justify-content: center;
                    span {
                        position: relative;
                        font-size: 36px;
                        color: transparentize($global-white, 0.1);
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    &__results-box {
        @extend .so-short__gameplay-box;
        & > div:nth-child(1) {
            @include for-landscape-phones-and-smaller {
                height: 65px;
            }
            width: 100%;
            height: 75px;
            border-bottom: 1px solid transparentize($global-white, .5);
            h2 {
                @include for-landscape-phones-and-smaller {
                    font-size: 40px;
                    line-height: 65px;
                }
                color: $global-white;
                text-align: center;
                font-size: 48px;
                font-weight: bold;
                line-height: 75px;
                cursor: default;
            }
        }
        .total-info-box {
            @include for-landscape-phones-and-smaller {
                height: calc(100% - 133px);
                background-size: 300%;
                background-position: 50% 0px;
            }
            position: relative;
            width: 100%;
            height: calc(100% - 153px);
            margin-top: auto;
            margin-bottom: auto;
            background: url('../assets/results.png');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;

            & > span {
                @include for-landscape-phones-and-smaller {
                    top: 70px;
                    bottom: auto;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    top: 94px;
                    bottom: auto;
                }
                position: absolute;
                right: 5px;
                bottom: 2px;
                font-size: 10px;
                color: transparentize($global-white, .6);
                cursor: default;
            }

            .rectangle-box {
                @include for-landscape-phones-and-smaller {
                    margin-top: 85px;
                    margin-bottom: 20px;
                }
                @include for-landscape-phones-and-portrait-tablets-2 {
                    margin-top: 110px;
                    margin-bottom: 25px;
                }
                margin-top: calc((427px - 180px) / 2);
                margin-bottom: 27px;
                width: 100%;
                height: 180px;
                background: linear-gradient(to top, darken($global-outrageous-orange, 3%), $global-outrageous-orange);
                display: flex;
                flex-direction: column;
                align-items: center;
                box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
                .results-values {
                    margin-top: 20px;
                    span {
                        font-family: 'Rubik';
                        font-size: 30px;
                        font-weight: bold;
                        text-align: center;
                        line-height: 36px;
                        color: $global-white;
                    }
                    &__correct-answers {
                        margin-right: 5px;
                    }
                    &__in-total-questions {
                        margin-left: 5px;
                    }
                }
                p {
                    @include for-landscape-phones-and-smaller {
                        font-size: 16px;
                        max-width: 270px;
                        line-height: 26px;
                    }
                    @include for-landscape-phones-and-portrait-tablets-2 {
                        max-width: 420px;
                        font-size: 20px;
                        line-height: 28px;
                    }
                    margin-top: 5px;
                    max-width: 570px;
                    font-size: 24px;
                    font-weight: 500;
                    text-align: center;
                    line-height: 36px;
                    color: $global-white;
                }
            }
            .controls-box {
                display: flex;
                justify-content: center;
                button {
                    @include for-landscape-phones-and-smaller {
                        width: 160px;
                        height: 40px;
                        font-size: 14px;
                    }
                    height: 48px;
                    width: 230px;
                    background: linear-gradient(to top, $global-bittersweet, darken($global-bittersweet, 5%));
                    color: $global-white;
                    font-size: 21px;
                    transition: color .235s ease-in-out;
                    &:hover {
                        color: lighten($global-lilac-blue, 37%);
                    }
                }
            }
        }
        .soc-net-share-box {
            @include for-landscape-phones-and-smaller {
                height: 65px;
            }
            position: relative;
            border-top: 1px solid transparentize($global-white, .5);
            width: 100%;
            height: 75px;
            display: flex;
            justify-content: center;
            p {
                @include for-landscape-phones-and-smaller {
                    font-size: 13px;
                    width: 230px;
                    text-align: center;
                    top: -25px;
                }
                position: absolute;
                top: -35px;
                left: 50%;
                transform: translateX(-50%);
                color: transparentize($global-white, .1);
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
                text-shadow: 0px 2px 3px rgba(0,0,0, 0.2);
            }
            &__list {
                @include for-landscape-phones-and-smaller {
                    width: 200px;
                }
                @include clear-list;
                width: 230px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__item {
                @include for-landscape-phones-and-smaller {
                    min-width: 42px;
                    min-height: 42px;
                }
                border-radius: 50%;
                min-width: 48px;
                min-height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 0 1px 3px rgba(0,0,0,0.45);
                color: $global-lilac-blue;
                border: 1px solid transparentize($global-white, .15);
                background-color: transparentize($global-white, .15);
                transition: all .215s linear;
                & i {
                    font-size: 21px;
                }
                &:hover {
                    transform: translateY(-2px);
                    filter: drop-shadow(0px 2px 6px transparentize($global-white, .76)) brightness(106%);
                    color: $global-white;

                }
            }
            &__item--vk {
                &:hover {
                    background-color: lighten($global-vk, 7%);
                    border: 1px solid lighten($global-vk, 7%);
                }
                &:active {
                    background-color: lighten($global-vk, 10%);
                    color: $global-white;
                }
            }
            &__item--fa {
                &:hover {
                    background-color: lighten($global-fa, 7%);
                    border: 1px solid lighten($global-fa, 7%);
                }
                &:active {
                    background-color: lighten($global-fa, 10%);
                    color: $global-white;
                }
            }
            &__item--tw {
                &:hover {
                    background-color: lighten($global-tw, 5%);
                    border: 1px solid lighten($global-tw, 7%);
                }
                &:active {
                    background-color: lighten($global-tw, 10%);
                    color: $global-white;
                }
            }
            &__item--te {
                &:hover {
                    background-color: lighten($global-te, 5%);
                    border: 1px solid lighten($global-te, 7%);
                }
                &:active {
                    background-color: lighten($global-te, 10%);
                    color: $global-white;
                }
            }
        }
    }
}
