@mixin clear {
    margin: 0;
    padding: 0;
}

@mixin clear-list {
    @include clear;
    list-style: none;
}

// MEDIA
@mixin for-landscape-phones-and-portrait-tablets-2 {
    @media (min-width: 810px) and (max-width: 1110px) { @content; }
}

@mixin for-landscape-phones-and-smaller {
    @media (max-width: 810px) { @content; }
}
