@import './partials/_params.scss';
@import './partials/_mixins.scss';
@import './components/game.scss';

// Independent global styles
.view-port {
    max-width: $global-view-port;
    margin: 0 auto;
}

// Actions styles
.game-actions {
    &__displaying-off {
        display: none !important;
    }
    &__displaying-on {
        display: block !important;
    }
    &__displaying-off--flex {
        display: none !important;
    }
    &__displaying-on--flex {
        display: flex !important;
    }
}
